body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffffb;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
footer{
    width: 80%;
    margin: 0 10%;
    position: absolute;
    bottom:10vh;
}
.initialBlock{
    margin: 0 10%;
}