body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffffb;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
footer{
    width: 80%;
    margin: 15% 10%;
    /* position: ; */
    /* bottom:10%; */
}
.initialBlock{
    margin: 0 10%;
}